<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MDPS|Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body style="background-image: url(static/bck.jpg);background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; ">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-family: 'Times New Roman', Times, serif;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Multiple Disease Prediction System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>


      </div>
    </div>
  </nav>
  <br>
  <br>

  <marquee style="font-size: 40px;color:black;font-family:'Times New Roman', Times, serif">Multiple Disease Prediction
    System</marquee>
  <br>
  <br>
  <br>


  <div style="display:flex;flex-direction:row;">
    <div style="padding-left: 250px;border-radius:25px;">
      <div class="card" style="width: 18rem ;border: 2px solid black;">

        <img src="static/heartlogo.png" class="card-img-top" alt="..." height="300px" width="300px">
        <div class="card-body" style="padding-left: 20px">


          <a href="/heart" style="font-family:'Georgia';color:black">Heart Disease Detection</a>
        </div>
      </div>
    </div>
    <br>
    <div style="padding-left: 80px;">
      <div class="card" style="width: 18rem ;border: 2px solid black;">
        <img src="static/kidneylogo.png" class="card-img-top" alt="..." height="300px" width="300px">
        <div class="card-body" style="padding-left: 20px">
          <a href="/kidney" style="font-family:'Georgia';color:black">Kidney Disease Detection</a>
        </div>
      </div>
    </div>
    <br>
    <div style="padding-left: 80px;">
      <div class="card" style="width: 18rem ;border: 2px solid black;">
        <img src="static/diabtes.jpg" class="card-img-top" alt="..." height="300px" width="300px">
        <div class="card-body" style="padding-left: 20px">
          <a href="/diabetes" style="font-family:'Georgia';color:black">Diabetes Disease Detection</a>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"></script>
  </div>
  <br>

  <br>
  <br>
  <footer>
    <br>

    <div class="social-sharing" style="text-align: center;">
      <a href="https://www.whatsapp.com/" target="_blank">
        <img src="static/iconwha.avif" width="30px" height="30px" alt="Share on Facebook" style="border: 2px solid blue;">
      </a>
      <a href="https://twitter.com/login?lang=en" target="_blank">
        <img src="static/iconface.avif" width="30px" height="30px" alt="Share on Twitter" style="border: 2px solid blue;">
      </a>
      <a href="https://www.youtube.com/" target="_blank">
        <img src="static/iconyou.avif" width="30px" height="30px" alt="Share on LinkedIn" style="border: 2px solid blue;">
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="static/iconinsta.avif" width="30px" height="30px" alt="Share on Pinterest" style="border: 2px solid blue;">
      </a>
    </div>
    <br>
    <div style="color: rgb(15, 17, 17);text-align:center">
      <p>Copyright &copy; 2022</p>

    </div>
  </footer>


</body>


</html>